# Firebase Configuration (Optional if firebase-applet-config.json is included in repo, or set these on Vercel Dashboard)
VITE_FIREBASE_API_KEY="AIzaSyDAPaiJKzp5pyJCPBDCmGR-Qfecnjfb40E"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0249816247.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0249816247"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0249816247.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="794569768098"
VITE_FIREBASE_APP_ID="1:794569768098:web:5e36f8c67364494a7a2bfb"
VITE_FIREBASE_DATABASE_ID="ai-studio-codemtradinglab-d4e9b16b-2adc-40f0-8b34-c7eed9579f38"
